@page "/"

<PageTitle>Home</PageTitle>

<div class="tiles">

	@foreach ((string LayerName, byte[] ImageBytes) in GenerateNoiseImages())
	{
		<div class="tile">
			<div class="tile-name">@LayerName</div>
			<img src="data:image/png;base64,@Convert.ToBase64String(ImageBytes)" alt="Noise layer @LayerName" />
		</div>
	}

</div>
