@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<div class="group-name">Grid</div>
<div class="grid-tiles group" style="--columns: @_width">
	@{
		int size = 256;

		for (int y = 0; y < _height; y++)
		{
			for (int x = 0; x < _width; x++)
			{
				byte[] imageBytes = GenerateTerrainImages(size, x * size, y * size);
				<img src="data:image/png;base64,@Convert.ToBase64String(imageBytes)" alt="Terrain tile" />
			}
		}
	}

</div>

@code
{
	private int _width = 2;
	private int _height = 2;
}
