@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Home</PageTitle>

<div class="page-layout">

	<div class="tile-grid-container">
		<div class="tile-grid-wrapper">
			<div class="tile-grid" style="--grid-width: @Width; --grid-height: @Height">
				@for (int y = 0; y < Height; y++)
				{
					for (int x = 0; x < Width; x++)
					{
						int tileX = PosX + x;
						int tileY = PosY + y;
						string imageUrl = $"api/tile?posX={tileX}&posY={tileY}&seed={Seed}";

						<div class="tile" style="--tile-url: url('@imageUrl')"></div>
					}
				}
			</div>
		</div>
	</div>

	<div class="controls-container">
		<div class="controls-wrapper">
			<div>
				<label>Width</label>
				<InputNumber @bind-Value="Width"></InputNumber>
				<label>Height</label>
				<InputNumber @bind-Value="Height"></InputNumber>
			</div>
			<div class="controls-buttons">
				<button style="grid-area: up" @onclick="MoveUp">Up</button>
				<button style="grid-area: left" @onclick="MoveLeft">Left</button>
				<button style="grid-area: down" @onclick="MoveDown">Down</button>
				<button style="grid-area: right" @onclick="MoveRight">Right</button>
			</div>
			<div>
				<div>Position: @PosX X @PosY</div>
				<label>Seed</label>
				<InputNumber @bind-Value="Seed"></InputNumber>
			</div>
		</div>
	</div>

</div>
