@page "/layers"

<PageTitle>Layers</PageTitle>

<div class="group-name">Layers</div>
<div class="layer-tiles group">

	@foreach ((string LayerName, byte[] ImageBytes) in GenerateNoiseImages(256, 0, 0))
	{
		<div class="tile">
			<div class="tile-name">@LayerName</div>
			<img src="data:image/png;base64,@Convert.ToBase64String(ImageBytes)" alt="Noise layer @LayerName" />
		</div>
	}

</div>
